//Add Google Fonts here
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;600&display=swap");

//Typography
$font-head: "Montserrat", sans-serif;
$font-body: "Open Sans", sans-serif;

//Color Palette
$primary-color: #000000;
$secondary-color: #333333;
$tertiary-color: #666666;
$accent-color: #7f34f7;
$accent-color-2: #f734ed;
$background-color: #fefefe;
$selector-color: #7f34f728;